.input-parent
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 30px 0;
    background-color: #fcf9f9;
}
input{
    border: none;
    outline: none;
    font-size: large;
    min-width: 250px;
    width: 500px;
    margin: 20px;
    
    background-color: #fcf9f9;
    border-bottom: 2px black solid;
    height: 30px;
    transition: all 200ms ease-in-out;
}
input:focus{    
    border-bottom: 2px #0fb9e4 solid;
}