body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  color: tomato;
  text-align: center;
}
img{
  cursor: pointer;
}
a{
  text-decoration: none;
}

button{
  padding: 10px;
  background-color: #0a192f;
  border: none;
  outline: none;
  color: white;
}